.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-general-blue {
  background-color: #4a6da7;
  color: white !important;
  font-size: 1.2rem;
}

.btn-general-secondary {
  font-size: 1.2rem;
}

.btn-general-red {
  background-color: #b02a37;
  color: white !important;
}


/* statistics animation */

.animate-me {
  -webkit-animation: bgcolorchange 1s infinite; /* Chrome, Safari, Opera */ 
  animation: 1s infinite bgcolorchange;
}
@keyframes bgcolorchange {
  0% {
    background-color: red;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: red;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: red;}
      50%  {background: black;}
      100% {background: red;}
 }